<a class="skip-navigation" tabindex="1" href="#main-content">{{t 'skip_navigation' }}</a>

<span class="header-wrapper">
<header class="header">
  <div class="logo">
    {{#link 'help_center'}}
      <svg aria-label="{{help_center.name}}" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 232 32">
        <g clip-path="url(#a)">
          <path d="M56.053 17.169c.097.075.192.154.291.226.411.306.833.595 1.233.914.54.433.974.969 1.35 1.537 1.012 1.525 1.997 3.066 2.994 4.598.142.218.29.432.43.65.079.125.15.255.253.433-.164.014-.267.03-.371.03-1.276.002-2.551-.003-3.827.005-.297.001-.471-.109-.632-.362-.412-.648-.867-1.271-1.301-1.905-.27-.393-.532-.79-.802-1.182-.51-.74-1.011-1.486-1.538-2.213a21.094 21.094 0 0 0-1.07-1.348c-.16-.186-.371-.335-.574-.48-.353-.252-.76-.355-1.19-.434-.602-.113-1.203-.097-1.807-.1-.323 0-.386.064-.403.375-.007.119-.003.237-.003.356v6.76c0 .355-.186.533-.557.533H45.79c-.099 0-.198.004-.297-.007-.215-.021-.267-.073-.283-.28-.007-.086-.004-.173-.004-.258V6.967c0-.525.004-.529.528-.529 2.54 0 5.08-.01 7.621.005.856.006 1.718.031 2.566.128.737.081 1.489.158 2.183.449.762.318 1.404.79 1.896 1.452a5.131 5.131 0 0 1 1.04 3.005c.015.638.01 1.272-.155 1.893a4.767 4.767 0 0 1-.717 1.516 4.569 4.569 0 0 1-1.985 1.596c-.41.175-.847.29-1.279.418-.267.079-.544.128-.817.19l-.035.082v-.004.001ZM51.73 9.623v.02h-1.683c-.21 0-.418-.005-.627.003-.268.01-.318.064-.334.332l-.001.096v4.01c0 .472.067.531.561.534h.165c1.408.036 2.812-.058 4.218-.113.426-.016.848-.008 1.273-.112.668-.164 1.177-.508 1.506-1.098.305-.545.297-1.134.242-1.733-.098-1.07-1.13-1.82-2.123-1.861-1.066-.045-2.132-.055-3.197-.08v.002ZM143.918 25.531c-.168.012-.272.027-.378.027-1.256 0-2.507-.004-3.763.004a.708.708 0 0 1-.652-.346c-.942-1.401-1.889-2.8-2.847-4.19a44.204 44.204 0 0 0-1.505-2.08c-.453-.58-.996-1.076-1.757-1.24a9.757 9.757 0 0 0-1.267-.165c-.328-.025-.661-.012-.989-.005-.255.005-.3.06-.313.312-.006.097-.002.195-.002.291v6.792c0 .13-.002.258-.016.387-.015.149-.1.234-.258.237-.055 0-.11.004-.167.004-1.013 0-2.023.002-3.034 0-.37 0-.393-.023-.393-.387V6.965c0-.351.184-.528.551-.53 2.519 0 5.036-.01 7.554.006.847.005 1.697.022 2.534.126.734.09 1.484.142 2.185.43a4.61 4.61 0 0 1 1.789 1.275c.493.575.813 1.226 1.023 1.932.101.338.15.694.184 1.044a7.3 7.3 0 0 1 .008.97c-.035.992-.33 1.912-.925 2.713a4.785 4.785 0 0 1-2.218 1.662 8.592 8.592 0 0 1-1.646.44c-.064.011-.122.07-.182.108.04.053.072.127.127.16.85.514 1.612 1.129 2.22 1.905.46.588.895 1.196 1.308 1.816.649.975 1.266 1.966 1.897 2.95.251.39.505.78.753 1.176.062.099.102.21.181.38h-.001l-.001.003ZM133.066 9.626v.02h-2.077c-.54 0-.544.005-.545.548v3.812c0 .595.02.602.632.616 1.528.033 3.05-.08 4.577-.115.385-.01.768-.024 1.135-.138.434-.136.85-.329 1.126-.693.615-.817.718-1.734.336-2.66-.35-.847-1.076-1.263-1.99-1.311-1.062-.054-2.13-.058-3.194-.082v.003ZM28.58 25.83c-.886.082-1.757-.051-2.617-.23-.652-.135-1.276-.373-1.884-.652-1.053-.483-1.932-1.188-2.694-2.036a7.35 7.35 0 0 1-1.393-2.29c-.188-.49-.372-.989-.489-1.5-.162-.712-.295-1.432-.284-2.17.008-.625-.026-1.249 0-1.875.024-.578.095-1.153.204-1.727.1-.53.227-1.049.418-1.553.462-1.227 1.14-2.319 2.096-3.245.6-.58 1.244-1.092 1.993-1.462.34-.168.703-.298 1.07-.412.424-.135.855-.259 1.292-.346.418-.082.844-.14 1.27-.157a20.453 20.453 0 0 1 1.944.002c.467.027.926.151 1.393.207.384.046.743.167 1.109.28a8.298 8.298 0 0 1 1.76.786 8.24 8.24 0 0 1 1.835 1.512c.659.718 1.202 1.512 1.538 2.424.172.464.342.93.474 1.404.095.34.118.697.193 1.041.173.796.158 1.604.174 2.41a8.423 8.423 0 0 1-.081 1.515 15.607 15.607 0 0 1-.46 2.07 8.623 8.623 0 0 1-1.41 2.75 8.227 8.227 0 0 1-1.53 1.507 7.743 7.743 0 0 1-2.359 1.254c-1.077.348-2.187.557-3.334.49-.076-.004-.154 0-.23 0h.003v.003Zm5.44-9.852c-.032-1.25-.119-1.967-.348-2.787-.33-1.191-.94-2.227-2.015-2.933-.7-.46-1.451-.804-2.32-.817-.128-.003-.257-.058-.385-.063a8.525 8.525 0 0 0-.717 0c-.107.004-.213.044-.32.061-.302.047-.613.063-.905.141a4.701 4.701 0 0 0-1.823.931c-1.11.926-1.643 2.155-1.888 3.523-.07.39-.075.791-.105 1.188-.075 1.056-.033 2.105.21 3.144.263 1.129.764 2.118 1.637 2.918.656.6 1.404 1.026 2.284 1.21a6.272 6.272 0 0 0 2.192.073c1.043-.146 1.923-.605 2.668-1.3.923-.858 1.41-1.966 1.632-3.172.127-.697.14-1.412.205-2.12v.003h-.002ZM150.32 15.986V6.963c0-.35.183-.526.548-.526 1.891 0 3.783-.014 5.674.005 1.033.01 2.067.03 3.096.12 1.597.137 3.027.693 4.191 1.81.862.826 1.486 1.81 1.91 2.91.236.612.382 1.248.522 1.894.315 1.453.239 2.914.215 4.376-.007.414-.136.826-.204 1.238-.033.201-.046.408-.092.606-.392 1.577-1.094 2.994-2.255 4.17-.565.573-1.259.97-2.004 1.275a9.195 9.195 0 0 1-.924.335c-.292.085-.595.125-.892.194-.646.153-1.311.104-1.963.17a4.79 4.79 0 0 1-.461.022h-6.863c-.492 0-.497-.005-.497-.485v-9.09l-.001-.001Zm3.818.025v5.885c0 .486.016.508.527.501 1.251-.016 2.504-.048 3.757-.057a4.77 4.77 0 0 0 1.445-.248 3.15 3.15 0 0 0 1.938-1.684 6.283 6.283 0 0 0 .579-2.04c.083-.692.191-1.385.156-2.091-.034-.72-.001-1.44-.108-2.16-.094-.63-.194-1.25-.423-1.848-.282-.731-.713-1.353-1.362-1.82-.662-.475-1.429-.683-2.219-.726-1.262-.065-2.527-.056-3.79-.073-.5-.007-.5 0-.5.48v5.884-.003ZM120.27 25.534c-.162.01-.281.024-.396.024h-3.333c-.416 0-.436-.019-.593-.416-.403-1.022-.809-2.044-1.211-3.068-.087-.22-.166-.443-.244-.666-.059-.167-.184-.232-.355-.229h-6.996c-.076 0-.154.004-.23 0-.245-.01-.382.11-.462.331-.339.942-.684 1.881-1.028 2.82-.114.315-.239.625-.347.941-.07.204-.204.29-.419.29-1.155-.002-2.309 0-3.465-.002-.082 0-.165-.027-.294-.05.134-.35.255-.667.379-.984.355-.903.713-1.805 1.074-2.707.222-.561.448-1.121.671-1.683l.94-2.371c.46-1.151.925-2.3 1.382-3.452.344-.87.677-1.748 1.021-2.62.396-1.001.798-2 1.198-3 .258-.652.521-1.301.766-1.958.082-.22.217-.299.445-.297 1.132.004 2.264.008 3.398-.003.288-.003.418.151.51.372.153.369.298.741.448 1.111.246.61.494 1.218.742 1.828.462 1.139.925 2.277 1.39 3.414.337.828.687 1.652 1.022 2.482.5 1.23.989 2.463 1.487 3.693.441 1.09.892 2.176 1.335 3.265.373.92.742 1.84 1.113 2.76.015.038.023.078.054.177l-.002-.002Zm-9.849-14.61c-.063.114-.088.147-.102.185-.378 1.02-.752 2.04-1.129 3.061-.359.97-.724 1.938-1.086 2.908-.083.22-.17.442-.25.664-.073.205-.006.302.22.32.088.006.176.002.263.002h2.968c.507 0 1.011.004 1.517-.004.267-.004.327-.109.232-.352l-.405-1.055c-.37-.977-.737-1.955-1.105-2.933-.315-.836-.629-1.675-.946-2.51-.032-.083-.093-.155-.177-.285v-.001ZM.005 15.989v-9.25c0-.247.035-.286.275-.302.089-.006.176-.003.264-.003h12.174c.367 0 .552.177.553.53V9.13c0 .341-.18.513-.54.513H4.22c-.317.01-.372.052-.374.356a526.579 526.579 0 0 0 0 3.85c.002.35.058.391.443.391h7.192c.552 0 .527-.02.527.51v2.198c0 .303-.16.454-.479.454H4.435c-.586 0-.59.004-.59.572v7.052c0 .523-.008.53-.53.53H.445c-.066 0-.133.002-.198-.003-.215-.017-.248-.053-.247-.254.004-.356.01-.711.01-1.066v-8.248H.006v.006-.002ZM87.626 25.32a.127.127 0 0 1-.217 0 686.645 686.645 0 0 0-2.582-4.279c-.253-.406-.256-.82-.013-1.222.61-1.009 7.886-13.053 7.94-13.172.063-.134.164-.183.316-.182 1.869.005 3.74.007 5.609.01h.225c.079.003.138.081.113.155-.042.126-7.595 12.475-11.39 18.687l-.001.003ZM77.097 25.263c-.174-.277-1.923-3.16-2.68-4.393-.198-.32-.213-.623-.021-.944.446-.742 7.28-12.152 7.681-12.833.053-.09.098-.187.195-.256a.175.175 0 0 1 .24.042c.099.135 2.238 3.706 2.548 4.214.23.378.24.734-.003 1.121-.533.852-7.774 12.762-7.957 13.052v-.003h-.003ZM71.54 6.473c.372-.007.435.103.565.325.777 1.336 1.563 2.668 2.338 4.004.117.204.228.426.268.651.05.283-.106.544-.247.785-.185.318-2.576 4.198-2.646 4.294-.076-.117-5.897-9.491-6.15-9.881a.116.116 0 0 1 .097-.18h5.776v.002Z" fill="#00A1C1"/><path d="M188.441 20.472c0 1.684-.611 2.996-1.831 3.938-1.222.942-2.878 1.413-4.972 1.413-2.269 0-4.013-.292-5.234-.876v-2.146c.785.33 1.64.593 2.565.785.924.191 1.841.288 2.748.288 1.483 0 2.599-.282 3.349-.844.751-.563 1.126-1.346 1.126-2.35 0-.662-.133-1.205-.4-1.628-.266-.424-.711-.814-1.334-1.171-.624-.358-1.573-.764-2.846-1.217-1.779-.637-3.051-1.39-3.814-2.263-.764-.872-1.145-2.011-1.145-3.415 0-1.474.554-2.648 1.662-3.52 1.108-.872 2.574-1.31 4.396-1.31s3.651.35 5.247 1.047l-.694 1.936c-1.579-.663-3.114-.994-4.607-.994-1.178 0-2.098.253-2.761.758-.663.507-.994 1.209-.994 2.107 0 .663.121 1.206.365 1.629.244.423.657.81 1.237 1.164.58.354 1.467.744 2.662 1.171 2.006.716 3.388 1.484 4.142 2.304.754.82 1.132 1.884 1.132 3.193h.001ZM189.75 11.221h2.329l3.141 8.179c.688 1.866 1.116 3.214 1.282 4.044h.104c.114-.445.351-1.206.713-2.283.362-1.078 1.546-4.39 3.552-9.938h2.329l-6.163 16.33c-.611 1.613-1.324 2.759-2.14 3.434-.816.675-1.817 1.014-3.003 1.014a8.72 8.72 0 0 1-1.963-.222v-1.74c.48.104 1.016.156 1.609.156 1.492 0 2.557-.837 3.193-2.512l.799-2.04-5.783-14.42.001-.002ZM215.345 25.562v-9.277c0-1.168-.267-2.04-.799-2.617-.532-.576-1.365-.864-2.499-.864-1.5 0-2.599.406-3.297 1.216-.698.811-1.047 2.15-1.047 4.017v7.524h-2.172V11.22h1.766l.354 1.962h.105c.445-.706 1.068-1.254 1.87-1.643.803-.388 1.696-.582 2.683-.582 1.727 0 3.026.416 3.899 1.25.872.833 1.309 2.165 1.309 3.996v9.355h-2.172v.003ZM227.709 25.823c-2.077 0-3.683-.639-4.822-1.917-1.139-1.278-1.707-3.086-1.707-5.424 0-2.338.577-4.253 1.733-5.56 1.157-1.31 2.802-1.963 4.941-1.963.688 0 1.378.073 2.067.222.689.149 1.23.323 1.623.524l-.668 1.845a10.166 10.166 0 0 0-1.57-.477 7.055 7.055 0 0 0-1.505-.19c-2.914 0-4.37 1.858-4.37 5.574 0 1.761.355 3.113 1.066 4.055.712.942 1.765 1.414 3.16 1.414 1.195 0 2.421-.257 3.676-.772v1.924c-.959.497-2.168.747-3.624.747v-.002Z" fill="#A1A1A1"/>
        </g>
        <defs>
          <clipPath id="a">
            <path fill="#fff" d="M0 0h232v32H0z"/>
          </clipPath>
        </defs>
      </svg>
    {{/link}}
  </div>

  <div class="nav-wrapper-desktop">
    <nav class="user-nav" id="user-nav" aria-label="{{t 'user_navigation'}}">
      <ul class="user-nav-list">
        <li>{{link 'new_request' class='submit-a-request'}}</li>
        {{#unless signed_in}}
          <li>
            {{#link "sign_in" class="sign-in"}}
              {{t 'sign_in'}}
            {{/link}}
          </li>
        {{/unless}}
      </ul>
    </nav>
    {{#if signed_in}}
      <div class="user-info dropdown">
        <button class="dropdown-toggle" aria-haspopup="true">
          {{user_avatar class="user-avatar"}}
          <span>
            {{user_name}}
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12" class="dropdown-chevron-icon" aria-hidden="true">
              <path fill="none" stroke="currentColor" stroke-linecap="round" d="M3 4.5l2.6 2.6c.2.2.5.2.7 0L9 4.5"/>
            </svg>
          </span>
        </button>
        <div class="dropdown-menu" role="menu">
          {{#my_profile role="menuitem"}}{{t 'profile'}}{{/my_profile}}
          {{link "requests" role="menuitem"}}
          {{#link "contributions" role="menuitem"}}{{t "activities"}}{{/link}}
          {{contact_details role="menuitem"}}
          {{change_password role="menuitem"}}
          <div class="separator" role="separator"></div>
          {{link "sign_out" role="menuitem"}}
        </div>
      </div>
    {{/if}}
  </div>

  <div class="nav-wrapper-mobile">
    <button class="menu-button-mobile" aria-controls="user-nav-mobile" aria-expanded="false" aria-label="{{t 'toggle_navigation'}}">
      {{#if signed_in}}
        {{user_avatar class="user-avatar"}}
      {{/if}}
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" focusable="false" viewBox="0 0 16 16" class="icon-menu">
        <path fill="none" stroke="currentColor" stroke-linecap="round" d="M1.5 3.5h13m-13 4h13m-13 4h13"/>
      </svg>
    </button>
    <nav class="menu-list-mobile" id="user-nav-mobile" aria-expanded="false">
      <ul class="menu-list-mobile-items">
        {{#if signed_in}}
          <li class="user-avatar-item item">
            {{#my_profile role="menuitem" class="my-profile"}}
              {{user_avatar class="menu-profile-avatar"}}
              <div class="menu-profile-name">
                <div>{{user_name}}</div>
                <div class="my-profile-tooltip">{{t 'profile'}}</div>
              </div>
            {{/my_profile}}
          </li>
          <li class="item">{{link "requests" role="menuitem"}}</li>
          <li class="item">{{#link "contributions" role="menuitem"}}{{t "activities"}}{{/link}}</li>
          <li class="item">{{contact_details role="menuitem"}}</li>
          <li class="item">{{change_password role="menuitem" class='change-password'}}</li>
          <li class="nav-divider"></li>
        {{else}}
          <li class="item">
            {{#link "sign_in" role="menuitem"}}
              {{t 'sign_in'}}
            {{/link}}
          </li>
          <li class="nav-divider"></li>
        {{/if}}
        <li class="item">{{link 'new_request' role="menuitem" class='submit-a-request'}}</li>
        <li class="nav-divider"></li>
        {{#if signed_in}}
          <li class="item">
            {{link "sign_out" role="menuitem"}}
          </li>
        {{/if}}
        </li>
      </ul>
    </nav>
  </div>

</header>
</span>